# Python-filer som ikke bør pushes
__pycache__/
*.pyc
*.pyo
*.pyd

# Har kommentert ut for å ta med .env i git repo
# .env
# *.env

# Miljøfiler
venv/
.envrc


# Jupyter Notebook metadata
.ipynb_checkpoints/

# Store dataset og mellomlagrede filer
*.csv
*.json

# Loggfiler og midlertidige filer
logs/
*.log
*.out
*.tmp

# Systemfiler (OS-spesifikke)
.DS_Store
Thumbs.db