# Python-filer som ikke bør pushes
__pycache__/
*.pyc
*.pyo
*.pyd

# Miljøfiler
.env
venv/
.envrc
*.env

# Jupyter Notebook metadata
.ipynb_checkpoints/

# Store dataset og mellomlagrede filer
*.csv
*.json

# Loggfiler og midlertidige filer
logs/
*.log
*.out
*.tmp

# Systemfiler (OS-spesifikke)
.DS_Store
Thumbs.db